name: Build
on: [push]
jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      
    - name: Build
      run: make
      
    - name: Save artifacts
      uses: actions/upload-artifact@v1
      with:
        name: prometheus-cryptowat-exporter-${{ matrix.os }}
        path: prometheus-cryptowat-exporter
